<%= form_for(@budget) do |f| %>
  <% if @budget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@budget.errors.count, "error") %> prohibited this budget from being saved:</h2>

      <ul>
        <% @budget.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-6 columns">
      <%= f.text_field :name, placeholder: t(:name), class: "large-4 columns" %>
    </div>
  </div>
  <% if params[:action] == 'new' %>
    <div class="row">
      <div class="large-3 columns">
        <%= f.label :budget_template_id %>
        <%= f.collection_select(:budget_template_id, BudgetTemplate.all, :id, :name) %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="large-4 columns">
      <%= f.submit nil, class: "button" %>
    </div>
  </div>
<% end %>
